XML/veeNaidud.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="veeNaidud">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="veeNaide">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="aadress" type="xs:string" />
							<xs:element name="korterinumber" type="xs:unsignedInt" />
							<xs:element name="kuupaev" type="xs:date" />
							<xs:element name="vesi">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="kulmVesi" type="xs:unsignedInt" />
										<xs:element name="soeVesi" type="xs:unsignedInt" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="makstud" type="xs:unsignedByte" />
						</xs:sequence>
						<xs:attribute name="email" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>